@import "bourbon/bourbon";
@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

@mixin uncollapse-margin {
  @include clearfix();
  &:before {
    content: "";
    display: table;
  }
}

@mixin unstyled-horizontal-list {
  @include clearfix();
  list-style: none;
  padding-left: 0;
  @include margin(0 null 0 null);
  li { float: left; }
}

body {
  color: #fff;
  font: 600 1em/140% 'Varela Round', Comfortaa, sans-serif;
  text-transform: capitalize;
  background-color: #26d17f;
  @include retina-image("../images/bg", 700px 700px);
}

.container {
  width: 1000px;
  @include margin(null auto null auto);
}

#page {
  @include uncollapse-margin();
}

#brand {
  margin-top: 50px;
  a {
    display: block;
    @include size(100px 87px);
    text-indent: -9999em;
    overflow: hidden;
    @include retina-image("../images/logo", 100px 87px);
    background-size: 100px 87px;
  }
}

#banner {
  margin-top: 50px;
  @include uncollapse-margin();
  h1 { font-size: 3.25em; }
  h2 { font-size: 2.35em; }
  #summary {
    width: 50%;
    .icon-arrow-down {
      display: block;
      @include size(24px 24px);
      @include retina-image("../images/arrow", 24px 24px);
      background-size: 24px 24px;
    }
  }
}

#shoe-canvas {
  float: right;
  margin-top: -170px;
}

#map {
  @include uncollapse-margin();
  @include margin(30px null 30px null);
  .container { position: relative; }
  #map-canvas {
    display: block;
    @include margin(null auto null auto);
  }
  address {
    font-style: normal;
    width: 40%;
    @include position(absolute, null 0 50px null);
    #phone {
      font-size: 1.65em;
      .icon-phone {
      }
    }
  }
}

#photos {
  ul {
    @include unstyled-horizontal-list();
    li {
      margin-right: 40px;
      @include box-sizing(border-box);
      &:last-child { margin-right: 0; }
    }
    img {
      display: block;
      @include size(306px 306px);
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(black, .3);
      background-color: #fff;
    }
  }
}

#footer {
  @include margin(80px null 80px null);
  h2 { font-size: 14px; }
  a {
    color: #fff;
    font-size: 1.35em;
    text-decoration: none;
  }
  ul {
    @include unstyled-horizontal-list();
    li {
      width: percentage(1/4);
    }
  }
}
